#extrabackup备份和恢复均依赖此配置文件，请勿随意修改配置。

#若数据库经由标准安装脚本安装，可不用修改数据库信息；否则请据实修改。
#备份账号需要process, select, reload, show view, lock tables, trigger, replication client, event权限。
db_user=backup
db_passwd=backup
db_config=/etc/my.cnf

#extrabackup配置，目录须以/结尾
bk_basedir=/data/exbackup/
bk_backupdir=/data/exbackup/backup/
bk_log=exbackup.log

#备份保留周期数。一个周期为7天，从全备开始，包含后续6天的相关增备。
#可恢复的数据：最短keep*7天，最长keep*7+6天。
bk_keep=2

#增备严格依赖于全备。备份脚本会自动将每一次的备份情况记录于此，请勿手动修改。
#backup_full_name，最近一次的全备名，后续增备依赖于此。若此项为空或目录不存在，进行全备。
#backup_pre_name，上次备份名。
backup_full_name=20211207_013001_full
backup_pre_name=20211208_013001_incre
